apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: sonarqube-metrics
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/component: visualization
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: PostgreSQL
        type: postgres
        access: proxy
        url: postgres:5432
        database: sonarqube_metrics
        user: metrics
        secureJsonData:
          password: metrics
        jsonData:
          sslmode: disable
          maxOpenConns: 10
          maxIdleConns: 10
          connMaxLifetime: 14400
          postgresVersion: 1500
          timescaledb: false
        isDefault: true
        editable: false

